:root {
  --bg-card: #ffffff;
  --text-color: #000000;
}

[data-mantine-color-scheme="dark"] {
  --bg-card: #1a1b1e;
  --text-color: #ffffff;
}
  
  .profile-card-container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px;
    width: 100%;
}





@media (max-width: 768px) {
  .profile-card-container{
  width: 100%;
  height: 100%;
  padding: 15px;
}
}


